PlayStation.Licence/Web References/LicenceService/ConsolePlus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLicenceCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenceKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MotherBoardSerial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPUSerial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HDDSerial" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLicenceCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLicenceCheckResult" type="tns:LicenceDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LicenceDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LicenceKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LicenceStartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LicenceEndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BeforeCheckDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateDayCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Demo" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLicenceCheckSoapIn">
    <wsdl:part name="parameters" element="tns:GetLicenceCheck" />
  </wsdl:message>
  <wsdl:message name="GetLicenceCheckSoapOut">
    <wsdl:part name="parameters" element="tns:GetLicenceCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsolePlusSoap">
    <wsdl:operation name="GetLicenceCheck">
      <wsdl:input message="tns:GetLicenceCheckSoapIn" />
      <wsdl:output message="tns:GetLicenceCheckSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsolePlusSoap" type="tns:ConsolePlusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLicenceCheck">
      <soap:operation soapAction="http://tempuri.org/GetLicenceCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsolePlusSoap12" type="tns:ConsolePlusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLicenceCheck">
      <soap12:operation soapAction="http://tempuri.org/GetLicenceCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsolePlus">
    <wsdl:port name="ConsolePlusSoap" binding="tns:ConsolePlusSoap">
      <soap:address location="http://www.nvisionsoft.net/ConsolePlus.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsolePlusSoap12" binding="tns:ConsolePlusSoap12">
      <soap12:address location="http://www.nvisionsoft.net/ConsolePlus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>